body {
    background-color: #1e1e2c;
    color: #fff;
    padding: 1rem;
}
.navbar {
    background-color: #1e1e2c;
}
.title{
    color: #FF6D00;
}
.card-img   {
    background-color: #2d2d44;
    height: 30rem;
}
.card-img-overlay   {
    padding: 12% 5%;
}
.texts {
    background-color: #2d2d44;
}
.btn    {
    background-color: #651FFF;
    color: #fff;
}
.btn:hover {
    background-color: #AA00FF;
}